<div class="hero-image">
    <div class="hero-text">
        <h1>WELCOME<br>
            TO <span class="primary">FORUM</span>
        </h1>
    </div>
</div>
<div class="main-content">
    <div class="columns">
        <div class="post-col">
            <div class="card">
                <h3 class="primary">POSTS</h3>
                <hr>
                <p>The above example creates three equal-width columns on small, medium, large, and
                    extra large devices using our
                    predefined grid classes. Those columns are centered in the page with the parent .container. The
                    above
                    example creates three equal-width columns on small, medium, large, and extra large devices using our
                    predefined grid classes. Those columns are centered in the page with the parent .container.</p>
            </div>
        </div>
        <div class="info-col">
            <div class="card">
                <h3 class="primary">RECENT</h3>
                <hr>
                <p>col 2</p>
            </div>
            <div class="card">
                <h3 class="primary">CATEGORIES</h3>
                <hr>
                <p>col 2</p>
            </div>
        </div>
    </div>
</div>