// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: #121212;
// //   position: fixed;
//   top: 0;
//   width: 100%;
// }

// li {
//   float: left;
// }

.navbar-brand, .navbar-toggler-icon {
  color: rgba(151, 151, 151, 0.87);
}

a.nav-link {
  color: rgba(151, 151, 151, 0.87);
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
a.nav-link :hover {
  color:#278ea5;
}