@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

body,
html {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
  // margin: 0;
  font-family: "Roboto Mono", monospace;
  padding: 0 !important;
}

/* Make sure the borders are not rounded because of Bootstrap*/
.card,
.btn,
.form-control {
  border: 0;
  border-radius: 0;
}

/* Global Form Control color scheme start */
.form-control {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid #278ea5;
}
/* Form Control color scheme end */

/* Global Color scheme start*/
.primary {
  color: #278ea5;
}

.background-primary {
  background-color: #278ea5;
}

.primary-variant {
  color: #1f4287;
}

.background-variant {
  background-color: #1f4287;
}

.secondary {
  color: #21e6c1;
}

a.secondary:hover {
  color: #21e6c1;
  opacity: 0.6;
}

.textarea {
  background-color: #101010;
  color: gray;

  border: none;
}
.textarea:focus {
  color: white;
  background-color: #121212;
}
/*Color scheme end*/
