@font-face {
  font-family: Caslon;
  src: url(/assets/fonts/OPTICaslon-Antique.otf);
}

body,
html {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

.primary {
  color: #278ea5;
}

.primary-variant {
  color: #1f4287;
}

.secondary {
  color: #21e6c1;
}
.textarea {
  background-color: #101010;
  color: gray;

  border: none;
}
.textarea:focus {
  color: white;
  background-color: #121212;
}
