@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

body,
html {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
  font-family: "Roboto Mono", monospace;
  padding: 0 !important;
  cursor: default;
}

/* Make sure the borders are not rounded because of Bootstrap*/
.card,
.form-control {
  border: 0;
  border-radius: 0;
}

/* The hero image */
.hero-image {
  background-image: url("../assets/img/home-hero.jpg");
  box-shadow: 0 5px 6px 2px rgba(10, 10, 10, 0.3);
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 25px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  opacity: 0.87;
}

/* Sidenav and navbar */
.sidenav {
  height: 100%;
  width: 65px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav a {
  cursor: pointer;
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181 !important;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1 !important;
}

.sidenav a.router-link-exact-active.router-link-active {
  color: #278ea5 !important;
}

.navbar {
  background-color: #111;
  justify-content: space-around;
}

.navbar a {
  color: #818181 !important;
}

.navbar a:hover {
  color: #f1f1f1 !important;
}

.navbar a.router-link-exact-active.router-link-active {
  color: #278ea5 !important;
}

/* Pagination */
.pagination {
  justify-content: flex-start;
  margin-bottom: 0;
}

.page-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #121212;
}

.page-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid #121212;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #278ea5;
  border-color: #278ea5d2;
}

.page-item.disabled :read-only {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.01) !important;
  border-color: #121212 !important;
  cursor: not-allowed;
}

/*Pagination*/

/* Card */
.card {
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 6px 2px rgba(10, 10, 10, 0.3);
}

.card-m {
  margin-top: 6px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 6px 2px rgba(10, 10, 10, 0.3);
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p,
.card small,
.card span,
.card-m h1,
.card-m h2,
.card-m h3,
.card-m h4,
.card-m h5,
.card-m h6,
.card-m p,
.card-m small,
.card-m span {
  opacity: 0.87;
}

.card pre,
.card-m pre {
  color: rgba(255, 255, 255, 0.87) !important;
  opacity: 0.87;
  font-family: "Roboto Mono", monospace !important;
  font-family: "Roboto Mono", monospace !important;
  white-space: pre-line;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.card a {
  text-decoration: none;
}

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

/* Responsive grid layout start */
.grid {
  margin: 0 17%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns > * {
  flex-basis: calc(calc(750px - 100%) * 999);
}

.main-col {
  flex-grow: 1;
}

.info-col {
  flex-grow: 0.4;
}

@media (max-width: 768px) {
  .grid {
    margin: 0 2%;
  }

  .info-col {
    flex-grow: 0.4;
  }
}

/* Responsive grid layout end */

/* Global Form Control color scheme start */
.form-control {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

.b-form-tags.focus,
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid #278ea5;
}

.form-control input {
  background-color: transparent;
  color: white;
}

/* Form Control color scheme end */

/* Toast Start */

// .b-toast .toast {
//   border: none;
//   background-color: #121212 !important;
//   text-align: center;
// }

/* Toast End */

/* Scroll Bar start */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222222;
}

/* Scroll Bar end */

/* Global Color scheme start*/
.primary {
  color: #278ea5;
}

a.primary:hover {
  color: #278ea5;
  cursor: pointer;
  text-decoration: underline;
}

.background-primary {
  background-color: #278ea5;
}

.primary-variant {
  color: #1f4287;
}

.background-variant {
  background-color: #1f4287;
}

.secondary {
  color: #21e6c1;
}

.background-secondary {
  background-color: #21e6c1;
}

a.secondary:hover {
  color: #21e6c1;
  cursor: pointer;
  text-decoration: underline;
}

.textarea {
  background-color: #101010;
  color: gray;

  border: none;
}
.textarea:focus {
  color: white;
  background-color: #121212;
}

.text-muted {
  opacity: 0.8;
}

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.bg-darker {
  background-color: rgba(32, 32, 32, 1);
}

/*Color scheme end*/
